@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");

@font-face {
  font-family: viola;
  src: url(./fonts/VIOLA.ttf);
}

@font-face {
  font-family: rather;
  src: url(./fonts/RATHER.otf);
}

@font-face {
  font-family: balbek;
  src: url(./fonts/balbek-personal-use-only.otf);
}

.site-wrapper {
  min-height: 100vh;
}

/* Navbar */

.logo-image {
  height: 85px;
}

.navbar {
  background: #181818;
}

.nav-link {
  color: #ffffff !important;
  font-family: rather, "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px #000000;
}

.form-control {
  border-radius: 0;
  width: 300px;
}

.me-2 {
  margin: 0 !important;
}

.btn-outline-success {
  background-color: #d2ae6d;
  color: #000000;
  border: solid #d2ae6d;
  border-radius: 0px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(210, 174, 109, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(210, 174, 109);
}

/* Poster */
.poster {
  top: 0;
  left: 0;
  height: 35em;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

/* Products */

main {
  flex: 1;
  font-family: "Montserrat", sans-serif;
}

.btn-primary {
  background-color: #212121;
  border-color: #000000;
}

.btn-primary:hover {
  background-color: #ffffff;
  border-color: #d2ae6d;
  color: #000000;
}

.btn-large {
  width: 100%;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-link {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
}

.product-link:hover {
  color: #0d0d0d;
  text-decoration-line: underline;
  text-decoration-thickness: 1.1px;
}

.link-style {
  color: #000000;
  font-weight: 400;
}

.link-style:hover {
  color: #d2ae6d;
  text-decoration-line: underline;
  text-decoration-thickness: 1.1px;
}

.rating span {
  color: #d2ae6d;
}

.card {
  border: none;
}

.card:hover {
  border: 1px solid #c6c6c6;
}

.card-text {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

/* .card {
  width: 15rem;
} */

/* Footer */

footer {
  font-family: "Montserrat", sans-serif;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.price-indicator {
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 2;
  width: 1.5em;
  height: 1.5em;
  color: #ffffff;
  background-image: linear-gradient(#54a3ff, #006eed);
  background-clip: padding-box;
  border: 1.5px solid #000000;
  border-radius: 50%;
  padding-left: 1px;
  font-family: rather, sans-serif;
  text-align: center;
  font-size: 0.7em;
}

/* @media only screen and (max-width: 600px) {
  .cart-responsive {
    margin-top: 10px;
  }
} */

@media only screen and (min-width: 1200px) {
  .price-indicator {
    left: 28px;
  }
}

.small-container .form-control {
  width: 100%;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.cover {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(http://lorempixel.com/800/600) no-repeat 50% 50% / cover;
}
